<a href="https://colab.research.google.com/github/LiTaokui/TensorFlow-Example/blob/main/Example03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [18]:
dataset = pd.read_csv("/content/sample_data/Example_03.Churn_Modelling.csv")
dataset.head(3)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1

[3 rows x 14 columns]

In [19]:
x = dataset.drop(labels=["RowNumber","CustomerId","Surname","Exited"], axis=1)
y = dataset["Exited"]

In [20]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [21]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [27]:
X = pd.get_dummies(x)
X.head()

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0
4          850   43       2  ...                1              1            0

[5 rows x 13 columns]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
len(X), len(X_train), len(X_test)

(10000, 8000, 2000)

**Feature Standardization**

In [30]:
from sklearn.preprocessing import StandardScaler

In [37]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
# set random seed
tf.random.set_seed(42)

# create a model
model = Sequential()
model.add(Dense(X.shape[1], activation="relu", input_dim=X.shape[1]))
model.add(Dense(128,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

# compile the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

# fit the model
model.fit(X_train, y_train.to_numpy(), batch_size= 10, epochs=10, verbose=1)

Epoch 1/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4547 - accuracy: 0.8055
Epoch 2/10
800/800 [==============================] - 1s 1ms/step - loss: 0.4216 - accuracy: 0.8251
Epoch 3/10
800/800 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8344
Epoch 4/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3650 - accuracy: 0.8529
Epoch 5/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3483 - accuracy: 0.8574
Epoch 6/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3440 - accuracy: 0.8606
Epoch 7/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8600
Epoch 8/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3370 - accuracy: 0.8610
Epoch 9/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3356 - accuracy: 0.8622
Epoch 10/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8616

In [43]:
model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8635

[0.3388376235961914, 0.8634999990463257]